@couleurPrincipale: #34495e;
@couleurBlanche: #fff;
@couleurGrisePale: #aaa;
@couleurGriseBlanc: #eee;

body{
	display:flex;
	flex-direction:column;
	font-family:arial;
	background-color:@couleurGrisePale;
}
footer,header{
	background-color:@couleurPrincipale;
}
header{
	display:flex;
	flex-direction:column;
	padding:5px;
}


header h1{
	color: @couleurBlanche;
	margin: 0 auto;
	padding: 1em;
}

/* MENU */
header nav ul{
	list-style-type:none;
	padding:0.5em;
	margin: 0 auto;
}
header nav ul li{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}
header nav ul li a{
	display:flex;
	justify-content: center;
	text-decoration:none;
	font-size:150%;
	padding:0.5em;
	color:@couleurBlanche;
	flex:1;
	transition:background-color 1s;
}
header nav ul li a:hover{
	background-color:@couleurGriseBlanc;
	text-decoration:none;
}


/* MAIN */
main{
	display:flex;
	flex-direction:column;
}
main section{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.item img{
	width:100%;
	max-height: 650px;
}
main section article{
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:1em;
	flex: 1;
	padding: 2em;
}


main section.deuxieme article:nth-child(1){background-color:#f1c40f;}
main section.deuxieme article:nth-child(2){background-color:#e67e22;}
main section.deuxieme article:nth-child(3){background-color:#e74c3c;}



/* FOOTER */
footer{
	height:80px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
footer div{
	width:5%;
}
footer div a i{
	color:@couleurBlanche;
	transition:color 1s;
}
footer div a i:hover, footer div a:hover{
	color:@couleurGrisePale;
}
footer div a{
	color:@couleurBlanche;
	text-decoration: none;
}

@media only screen and (min-width: 900px) {
	header{
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
	}
	header nav{
		display:flex;
		flex:1;
	}
	header nav ul{
		display:flex;
		flex:1;
		flex-direction:row;
		justify-content:space-around;
	}
	main section{
		flex-direction:row;
		flex-wrap:nowrap;
		justify-content:flex-start;
		align-items: flex-start;
	}
	main section article {
		font-size: 2em;
	}

	footer div a .fa{
		font-size: 2em;
	}
}
